body
{
	background: cadetblue;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

hr
{
	margin-top: 1em;
	margin-bottom: 0;
}

#caption,
#footer
{
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	width: 251px;
	margin-bottom: 2em;
}

#score
{
	float: left;
	margin: 0;
	padding: 5px;
}

#level
{
	float: right;
	margin: 0;
	padding: 5px;
}

#container
{
	margin-left: auto;
	margin-right: auto;
	width: 251px;
  height: 501px;
  position: relative;
}

#kitten,
#canvasBoard,
#svgBoard
{
  width: 100%;
  height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
